<h1>{{pokemon.name}}</h1>
<img ng-src="http://pokeapi.co/media/img/{{pokemon.apiid}}.png" alt="" />
<h1>Attack: {{pokemonData.attack}}</h1>
<h1>Defense: {{pokemonData.defense}}</h1>
<h1>Special Attack: {{pokemonData.sp_atk}}</h1>
<h1>Special Defense: {{pokemonData.sp_def}}</h1>
<h1>Speed: {{pokemonData.speed}}</h1>
<h1>HP: {{pokemonData.hp}}</h1>
<button ng-click="showMoves()" type="button" name="button">Show Moves</button>
<button ng-click="showTypes()" type="button" name="button">Show Types</button>
<div class="moveList hidden">
  <p>Where To Learn || Move Name</p>
  <p ng-repeat="move in pokemonData.moves">{{move.learn_type}}: {{move.name}}</p>
</div>
<div class="typeList hidden" ng-repeat="type in pokemonData.types">
  <p>{{type.name}}</p>
</div>
